<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae nisi viverra, fringilla erat vel, hendrerit dui. Pellentesque lacus felis, euismod id suscipit sed, porttitor non mi. Duis blandit dignissim congue. Sed luctus ullamcorper tempor. Pellentesque non urna in ipsum porttitor pulvinar eget sed urna. Donec vel risus ante. Integer ut ultricies augue. Maecenas blandit accumsan felis id elementum. Fusce gravida ligula at magna dictum mattis. Sed vehicula sollicitudin sem vel sagittis. Nunc lobortis suscipit tempus. Sed vulputate in orci quis hendrerit. Donec efficitur venenatis augue, ac dictum arcu commodo eu. Quisque sollicitudin blandit sem, quis tristique justo feugiat in. Ut neque augue, commodo at scelerisque vel, ullamcorper sit amet augue. </p>
  </div>
</div>